<!Doctype html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Store</title>
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <%- style %>
</head>

<body>
  <%- include('../partials/layout/header') %> <%- body %> <%- include('../partials/layout/footer') %>
        <script type="module" src="/main.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <%- script %>
</body>

</html>